*{
    font-family:  bogle
}
.NavbarContainer {
  width: 100%;

  background-color: #0071dc;
  padding: 17px;
  display: flex;
}
.NavbarIconBackground {
}
.NavbarIconBackground {
}
.navbarIntety {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 130px;
  height: 30px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
.navbarIntety:hover {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 130px;
  height: 30px;
  background-color: #004f9a;
  border-radius: 30px;
}
